Antiflapping.json
{
  "name": "Antiflapping",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "host",
              "type": "any"
            },
            {
              "name": "passphrase"
            },
            {
              "name": "body"
            }
          ]
        }
      },
      "id": "4c2b59a6-770c-4cd9-931a-fc4e5c6c5a1d",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1120,
        368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d016b4d-be00-4b29-9e6e-68dc672b1a7c",
              "name": "failure_field",
              "value": "=count_of_failures_for_{{ $('Start').item.json.host }}",
              "type": "string"
            },
            {
              "id": "227cdf48-9693-4255-923e-2aff7db0d649",
              "name": "failure_threshold",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        368
      ],
      "id": "1ecb6366-487f-4caa-91fc-30e270c6f11d",
      "name": "Set failure field name"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "5RNwWnjQ611EiAJt",
          "mode": "list",
          "cachedResultName": "apart_misc",
          "cachedResultUrl": "/projects/57MVoHDMd1vsJxH4/datatables/5RNwWnjQ611EiAJt"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "common_key",
              "keyValue": "={{ $('Set failure field name').item.json.failure_field }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -672,
        368
      ],
      "id": "6cfc0283-1c07-4794-b291-47d383ab2fad",
      "name": "Get count of failures",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').item.json.body }}",
                    "rightValue": "={{ $('Start').item.json.passphrase }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d4218edc-1636-4fda-b650-c65598d5f077"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c7e65ec8-17c9-42a4-a713-62f69af27f0b",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -448,
        368
      ],
      "id": "ef098982-cdc6-4292-8015-f8d08d2df628",
      "name": "Check passphrase"
    },
    {
      "parameters": {
        "chatId": "={{ $env.APART_TELEGRAM_CHAT_ID }}",
        "text": "=Scraper for {{ $('Start').item.json.host }} is up!\n",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c5e0811b-e63c-4420-8f9b-05be51bc3426",
      "name": "Send info: Scraper is up!",
      "webhookId": "ac41d86f-da20-4b7a-b8ef-c14f730b07bb",
      "credentials": {
        "telegramApi": {
          "id": "TqrbNZ2ZgvZ27LQv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "5RNwWnjQ611EiAJt",
          "mode": "list",
          "cachedResultName": "apart_misc",
          "cachedResultUrl": "/projects/57MVoHDMd1vsJxH4/datatables/5RNwWnjQ611EiAJt"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "common_key",
              "keyValue": "={{ $('Set failure field name').item.json.failure_field }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "common_key": "={{ $('Set failure field name').item.json.failure_field }}",
            "common_value": "0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "common_key",
              "displayName": "common_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "common_value",
              "displayName": "common_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        224,
        80
      ],
      "id": "1b8f2d62-da34-4ede-aa67-11266d3f8ae2",
      "name": "Reset counter of failures"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "5RNwWnjQ611EiAJt",
          "mode": "list",
          "cachedResultName": "apart_misc",
          "cachedResultUrl": "/projects/57MVoHDMd1vsJxH4/datatables/5RNwWnjQ611EiAJt"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "common_key",
              "keyValue": "={{ $('Set failure field name').item.json.failure_field }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "common_key": "={{ $('Set failure field name').item.json.failure_field }}",
            "common_value": "={{ ((+$('Get count of failures').item.json.common_value || 0) + 1).toString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "common_key",
              "displayName": "common_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "common_value",
              "displayName": "common_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -224,
        480
      ],
      "id": "8148284c-671e-475c-b93c-04facebb533f",
      "name": "Increase counter of failures"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "26628eec-3fa6-43de-9eb2-32ed38bb3256",
              "leftValue": "={{ $('Increase counter of failures').item.json.common_value }}",
              "rightValue": "={{ $('Set failure field name').item.json.failure_threshold }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        480
      ],
      "id": "4391d7d6-1adc-406c-be5f-556110e17350",
      "name": "Is needed to trigger alert?"
    },
    {
      "parameters": {
        "chatId": "={{ $env.APART_TELEGRAM_CHAT_ID }}",
        "text": "=Scraper for {{ $('Set failure field name').item.json.host }} is down!\n",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        416
      ],
      "id": "d9c5af16-e565-4381-b814-8332d5ff0802",
      "name": "Send alert: Scraper is down!",
      "webhookId": "ac41d86f-da20-4b7a-b8ef-c14f730b07bb",
      "credentials": {
        "telegramApi": {
          "id": "TqrbNZ2ZgvZ27LQv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d016b4d-be00-4b29-9e6e-68dc672b1a7c",
              "name": "is_passphrase_passed",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        144
      ],
      "id": "cf32d650-0107-4dc3-930b-c018cf87ffb7",
      "name": "Set passphrase check to passed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d016b4d-be00-4b29-9e6e-68dc672b1a7c",
              "name": "is_passphrase_passed",
              "value": "=false",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        480
      ],
      "id": "5be6e663-f743-4fb3-8e6f-98d05fbac937",
      "name": "Set passphrase check to failed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "194cf345-46b3-4d92-bad0-9991cb4effc8",
              "name": "host",
              "value": "={{ $('Start').item.json.host }}",
              "type": "string"
            },
            {
              "id": "480f040c-6697-45f1-acdb-7b5c7227e107",
              "name": "body",
              "value": "={{ $('Start').item.json.body }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        288
      ],
      "id": "ca501c94-80aa-4ac4-a87e-a0d09d96eb18",
      "name": "Generate output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get count of failures').item.json.common_value }}",
                    "rightValue": "={{ $('Set failure field name').item.json.failure_threshold }}",
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "d4218edc-1636-4fda-b650-c65598d5f077"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c7e65ec8-17c9-42a4-a713-62f69af27f0b",
                    "leftValue": "={{ $('Get count of failures').item.json.common_value }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9c3ff421-6159-47dc-87ee-42380c9d8fac",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        128
      ],
      "id": "633b1470-38bb-4958-b4db-fe819bfa8a4e",
      "name": "Has state of scraper changed?"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Set failure field name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set failure field name": {
      "main": [
        [
          {
            "node": "Get count of failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get count of failures": {
      "main": [
        [
          {
            "node": "Check passphrase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check passphrase": {
      "main": [
        [
          {
            "node": "Has state of scraper changed?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increase counter of failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send info: Scraper is up!": {
      "main": [
        [
          {
            "node": "Reset counter of failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset counter of failures": {
      "main": [
        [
          {
            "node": "Set passphrase check to passed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increase counter of failures": {
      "main": [
        [
          {
            "node": "Is needed to trigger alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is needed to trigger alert?": {
      "main": [
        [
          {
            "node": "Send alert: Scraper is down!",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set passphrase check to failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send alert: Scraper is down!": {
      "main": [
        [
          {
            "node": "Set passphrase check to failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set passphrase check to passed": {
      "main": [
        [
          {
            "node": "Generate output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set passphrase check to failed": {
      "main": [
        [
          {
            "node": "Generate output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has state of scraper changed?": {
      "main": [
        [
          {
            "node": "Send info: Scraper is up!",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reset counter of failures",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set passphrase check to passed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4aeee868-910f-4174-9799-060e770373b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2311f6e099c4a7ea494b924b708c4c36ed2bcb1fa90d07654f1651c42da238f"
  },
  "id": "S11FDyi0jljiMt7y",
  "tags": []
}